body{
    background: #87b5b5;
    margin: 10px 0;
}
.editorWrap{
    width: 600px;
    margin: 18px auto;
}
.editorWrap .toolbar {
    width: 99%;
}
.toolbar{
    position: relative;
    background-color: #4aa3a3;
    padding: 4px 4px 3px 3px;
    border: 1px solid #1d2f2f;
    box-shadow: 1px 1px 10px 2px #3a5f5f;
    font-family: Russo One;
    font-size: 15px;
}
.toolbar i {
    width: 25px;
    color: black;
    margin-left: 5px;
}
.fa-free-code-camp {
    margin-left: 3px;
}